<br>
<div class="container">
    <h1>
        Sobre nosotros
    </h1>
</div>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Autos Ltda</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum nisl ut luctus scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla scelerisque scelerisque lorem, sed congue ante accumsan sed. Nam ut nisl urna. Vestibulum porta lectus quis euismod placerat.</p>
        
      </div>
</div>